@model EcommerceWebsite.Shared.ProductVm
@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("~/js/setimage.js")"></script>
}
@section Styles {
    <link href="@Url.Content("~/css/detail.css")" rel="stylesheet" type="text/css" />
}

<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <img id="ProductImage" src="@Model.ImageLocation[0]" alt="Card image cap" height=350 width="450">
            <div class="container">
                <div class="row">
                    @for (int i = 0; i < Model.ImageLocation.Count; i++)
                    {
                    <div class="col-md-2">
                        <img class="thumbnail" src="@Model.ImageLocation[i]" onclick="SetImage('@Model.ImageLocation[i]');" alt="Card image cap" height=75 width="75">
                    </div>
                    <span>&nbsp;&nbsp;</span>
                    }
                </div>
            </div>
        </div>

        <div class="col-sm-5">
            <h4>@Model.ProductName</h4>
            <hr style="width:100%;text-align:left;margin-left:0">
            <p><span class="badge badge-success" style="font-size:large">@Model.RatingPoint</span><b>/5</b> <i>(Có @Model.RatingCount đánh giá)</i></p>

            @using (Html.BeginForm("AddRating", "Rating"))
            {
                @Html.HiddenFor(x => x.ProductID)
                <select id="rating" name="rating">
                    <option selected value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button type="submit" class="badge badge-warning" style="width:100px; color:white">Đánh giá</button>
            }
            <hr style="width:100%;text-align:left;margin-left:0">
            <p>@Model.Description</p>
            <h5 style="color:red">Giá: @Model.Price</h5>
            <button type="button" class="btn btn-danger">Đặt hàng</button><br />
        </div>
    </div>
</div>